@import "tailwindcss";

@font-face {
    font-family: 'Conthrax';
    src: url('fonts/conthraxsemibold.otf') format('woff2'),
         url('fonts/conthraxsemibold.otf') format('woff');
}

@font-face {
    font-family: 'DinproMedium';
    src: url('fonts/dinpro_medium.otf') format('woff2'),
         url('fonts/dinpro_medium.otf') format('woff');
}

@font-face {
    font-family: 'DinproRegular';
    src: url('fonts/dinpro_light.otf') format('woff2'),
         url('fonts/dinpro_light.otf') format('woff');
}
.hero-title{
    font-family: "Conthrax";
    font-size: 88px;
    line-height: 100%;
}
.hero-text{
    font-size: 28px;
    font-family: 'DinproRegular';
}

.nav_drop :last-child {
    border:none;
}

.hero-main{
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 837px;
    height: 413px;
}
.nav_drop{
    width: 378px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.links_nav{
    position: relative;
    border-bottom: 2px;
    border-style: solid;
    padding-top: 7px;
    padding-bottom: 13px;
    left: 31px;
    border-image: linear-gradient(80deg, rgba(221, 216, 175, 1), rgba(255, 255, 255, 1)) 1;
}
.hero-title-line{
    font-family: "Conthrax";
    font-size: 88px;
    line-height: 100%;
    border-bottom: 60px;
    border-style: solid;
    border-image: linear-gradient(80deg, rgba(221, 216, 175, 1), rgba(240, 238, 225, 1)) 1;
    padding-bottom: 30px;
}

.excursion{
    background-color: rgba(240, 238, 225, 1);
    height: 429px;
    box-shadow: 8px 8px 17.5px 0px rgba(126, 116, 81, 0.52);
    min-width: 476px;
    display: flex;
    flex-direction: column;
}
.img_ex{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.excursion_img{
    min-height: 272px;
}
.text_ex{
    padding-left: 33px;
    padding-bottom: 10px;
}
.excursion_text{
    font-family: "Conthrax";
    font-size: 40px;
    padding-bottom: 21px;
}
.excursiom_text-mini{
    font-family: 'DinproRegular';
    font-size: 16px;
    padding-bottom: 9px;
}
