@import "tailwindcss";

@font-face {
    font-family: 'Conthrax';
    src: url('fonts/conthraxsemibold.otf') format('woff2'),
         url('fonts/conthraxsemibold.otf') format('woff');
}

@font-face {
    font-family: 'DinproMedium';
    src: url('fonts/dinpro_medium.otf') format('woff2'),
         url('fonts/dinpro_medium.otf') format('woff');
}

@font-face {
    font-family: 'DinproRegular';
    src: url('fonts/dinpro_light.otf') format('woff2'),
         url('fonts/dinpro_light.otf') format('woff');
}
@font-face {
	font-family: 'DIN Pro Black';
	src: url('fonts/din_pro_black.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/din_pro_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/din_pro_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/din_pro_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/din_pro_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/din_pro_black.svg#din_pro_black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@theme { 
  --color-beige: #BCB679;
  --color-darkGrey: #1C1B17;
  --color-darkBei: #7E7451;
}
/* Поменять _ на -, 
брейк поинт,
если бг, где должно предполагаться смена картинки, надо бг задавать в style
сделать alt
*/
.nav_drop :last-child, .nav_drop2 :last-child {
    border:none;
} 
.hero-title, .hero-title-line{
    font-family: "Conthrax";
    font-size: 88px;
    line-height: 100%;
}

.hero-text{
    font-size: 28px;
    font-family: 'DinproRegular';
    line-height: 1.2;
}
.hero-title1{
    font-size: 80px;
    font-family: 'Conthrax';
    line-height: 100%;
}
.hero-main{
    display: flex;
    flex-direction: column;
    width: 837px;
    height: 413px;
}
.hero-main2{
    display: flex;
    flex-direction: column;
    gap: 46px;
    width: 811px;
    height: 413px;
}
.hero-main3{
    display: flex;
    flex-direction: column;
    min-width: 752px;
    height: 413px;
}
.nav_drop{
    width: 378px;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: 31px;
    left: -34px;
    padding-top: 27px;
    padding-bottom: 16px;
}
.nav_drop2{
    width: 378px;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: 31px;
    left: -103px;
    padding-top: 27px;
    padding-bottom: 16px;
}

.nav-link::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #DDD8AF 0%, #ffffff 100%);
    width: 119px;
    height: 7px;
    transform: translateY(34px);
    opacity: 0%;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}
.nav-link:hover::before {
    opacity: 100%;
    visibility: visible;
}
.nav-link:focus::before {
    opacity: 100%;
    visibility: visible;
}
.links_nav{
    width: 329px;
    position: relative;
    border-bottom: 2px;
    border-style: solid;
    padding-top: 7px;
    padding-bottom: 13px;
    left: 31px;
    border-image: linear-gradient(90deg, rgba(221, 216, 175, 1), white) 1;
}
.links_nav-last{
    width: 276px;
    position: relative;
    border-bottom: 2px;
    border-style: solid;
    padding-top: 7px;
    padding-bottom: 13px;
    left: 31px;
    border-image: linear-gradient(90deg, rgba(221, 216, 175, 1), white) 1; 
}
.links_nav:hover, .links_nav-last:hover{
    box-shadow: 0px 5px 5px rgba(126, 116, 81, 0.52);
}
.container-hero {
    display: grid;
    z-index: 0;
    position: relative;
    transform: translateY(99px);
    background-position: center top;
}
.hero-main{
    display: grid;
    z-index: 2;
    position: relative;
    transform: translateX(162px) translateY(375px);

}
.hero-title-line{
    border-bottom: 60px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(221, 216, 175, 1), rgba(240, 238, 225, 1)) 1;
    padding-bottom: 40px;
}
.link-block:hover{
    box-shadow: 0px 0px 22px 8px rgba(126, 116, 81, 0.5);
}
.excursion{
    background-color: rgba(240, 238, 225, 1);
    height: 429px;
    box-shadow: 8px 8px 17.5px 0px rgba(126, 116, 81, 0.52);
    min-width: 476px;
    display: flex;
    flex-direction: column;
}
.excursion:hover{
    box-shadow: 0px 0px 17.5px 0px rgba(126, 116, 81, 0.52);
}
.img_ex{
    width: 100%;
    height: 96%;
    object-fit: cover;
}
.excursion_img{
    min-height: 272px;
}
.text-ex{
    padding-left: 24px;
    padding-bottom: 10px;
}
.excursion_text{
    font-family: "Conthrax";
    font-size: 40px;
    padding-bottom: 10px;
}
.excursiom_text-mini{
    font-family: 'DinproRegular';
    font-size: 16px;
    padding-bottom: 9px;
}
.button_1{
    background-color: rgba(188, 182, 121, 1);
    font-family:'DinproRegular';
    font-size: 28px;
    width: 353px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 620px; */
}
.button_1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--color-beige);
    cursor: pointer;

}
.container{
        display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .container_top{
        display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.block-image{
    display: grid;
    grid-area: 1/1;

}
.text_block-left{
    grid-area: 1/1;  
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    z-index: 2;
    
}
.gradient-block-left{
    background: radial-gradient(50% 50% at 50% 50%, #BCB679 0%, rgba(254, 253, 228, 0) 100%);
    position: absolute; 
    backdrop-filter: blur(55.5px);
    z-index: 1;
    bottom: -131px;
    left: -180px;
}
.gradient-block-right{
    background: radial-gradient(50% 50% at 50% 50%, #2B2A29 0%, rgba(254, 253, 228, 0) 100%);
    min-width: 303px;
    min-height: 290px;
    position: absolute; 
    grid-area: 1/1; 
    top: -128px;
    left: -125px;
    z-index: 1;
    backdrop-filter: blur(55.5px)
}
.gradient-block3{
    min-width: 788px;
    min-height: 123px;
    grid-area: 1/1; 
    background: radial-gradient(50% 50% at 50% 50%, #BCB679 0%, rgba(254, 253, 228, 0) 100%);
    backdrop-filter: blur(55.5px);
    z-index: 1;

}
.text_block{
    transform: translateY(-21px);
}
.text_block-right{
    grid-area: 1/1; 
    z-index: 2;
}
.input, .textarea, .button-form{
    font-family: "DinproRegular";
    font-size: 28px;
    color: rgba(28, 27, 23, 0.72);
    border: 2px solid rgba(160, 143, 108, 1);

}
.input, .textarea{
    padding-left: 44px;
}
input{
    height: 84px;
}
.button-form{
    height: 66px;
    width: 370px;
    color: rgba(28, 27, 23, 0.5);
}
.button-form:hover{
    cursor: pointer;
    box-shadow: 0px 0px 22px 0px rgba(126, 116, 81, 0.5);
}
.input:focus{
    outline: none; 
    box-shadow: 0px 0px 22px 0px rgba(126, 116, 81, 0.5);
}
.textarea:focus{
    outline: none; 
    box-shadow: 0px 0px 22px 0px rgba(126, 116, 81, 0.5);
}
.col{
    @apply flex flex-col;
}
.input:hover{
    box-shadow: 0px 0px 22px 0px rgba(126, 116, 81, 0.5);
}
.textarea:hover{
    box-shadow: 0px 0px 22px 0px rgba(126, 116, 81, 0.5);
}
.num{
    font-size: 128px;
    font-family: 'DIN Pro Black';
    color:var(--color-beige);
    padding-left: 17px;
}
.cell{
    display: flex;
    gap: 22px;
    width: 789px;
    height: 149px;
    border: 4px solid var(--color-darkBei);
    align-items: center;
}
.film-title{
    font-family: "Conthrax";
    font-size: 88px;
    line-height: 100%;
    position: relative;
    max-width: 1595px;
    width: 100%;
    justify-content: flex-end;
    text-align: end;
    line-height: 1.2;
}
.film-title::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #DDD8AF 0%, #ffffff 100%);
    width: 1069px;
    height: 60px;
    top: 129px;
}
.film-text{
    grid-area: 1/1;
    padding-left: 57px;
}
.img-film{
    max-height: 318px;
    object-fit: cover;
    grid-area: 1/1;
}
.box-film-title{
    font-family: "Conthrax";
    font-size: 50px;
    color: white;
    padding-bottom: 13px
}
.film-button{
    background-color:#BCB679;
    width: 212px;
    height: 56px;
    display: flex;
    font-family:'DinproRegular';
    font-size: 22px;
    align-items: center;
    padding-left: 21px;
    gap: 16px
}

.galary-text::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #DDD8AF 0%, #ffffff 100%);
    width: 700px;
    height: 60px;
    right: 234px;
}
.img-rotate{
    transform: rotateY(180deg);
    right: 0px;
    bottom: -184px;
}
.section-list{
    font-family: 'DinproRegular';
    font-size: 20px;
}
.footer-icon{
    width: 32px;
    height: 32px;
}
.footer-text{
    display: flex;
    flex-direction: row;
    gap: 26px;
}
.tabl-title::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #DDD8AF 0%, #ffffff 100%);
    width: 700px;
    height: 60px;
    right: 73px;
    top: 74px;
}


