@import "tailwindcss";

@font-face {
    font-family: 'Conthrax';
    src: url('fonts/conthraxsemibold.otf') format('woff2'),
         url('fonts/conthraxsemibold.otf') format('woff');
}

@font-face {
    font-family: 'DinproMedium';
    src: url('fonts/dinpro_medium.otf') format('woff2'),
         url('fonts/dinpro_medium.otf') format('woff');
}

@font-face {
    font-family: 'DinproRegular';
    src: url('fonts/dinpro_light.otf') format('woff2'),
         url('fonts/dinpro_light.otf') format('woff');
}
.nav_drop :last-child {
    border:none;
}
.hero-title, .hero-title-line{
    font-family: "Conthrax";
    font-size: 88px;
    line-height: 100%;
}
.hero-text{
    font-size: 28px;
    font-family: 'DinproRegular';
    line-height: 1.2;
}
.hero-title1{
    font-size: 80px;
    font-family: 'Conthrax';
    line-height: 100%;
}

.hero-main{
    display: flex;
    flex-direction: column;
    width: 837px;
    height: 413px;
}
.hero-main2{
    display: flex;
    flex-direction: column;
    gap: 46px;
    width: 811px;
    height: 413px;
}
.hero-main3{
    display: flex;
    flex-direction: column;
    gap: 55px;
    min-width: 752px;
    height: 413px;
}
.nav_drop{
    width: 378px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.nav_link:hover{
    border-bottom: 7px;
    border-style: solid;
    padding-top: 6px;
    border-image: linear-gradient(90deg, rgba(221, 216, 175, 1), white) 1;
}
.links_nav{
    width: 329px;
    position: relative;
    border-bottom: 2px;
    border-style: solid;
    padding-top: 7px;
    padding-bottom: 13px;
    left: 31px;
    top: 41px;
    border-image: linear-gradient(90deg, rgba(221, 216, 175, 1), white) 1;
}
.container-hero {
    display: grid;
    z-index: 0;
    position: relative;
    transform: translateY(99px);
    background-position: center top; /* или конкретное значение, например: 50% 20% */
}
.hero-main{
    display: grid;
    z-index: 2;
    position: relative;
    transform: translateX(162px) translateY(375px);

}
.hero-title-line{
    border-bottom: 60px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(221, 216, 175, 1), rgba(240, 238, 225, 1)) 1;
    padding-bottom: 40px;
}

.excursion{
    background-color: rgba(240, 238, 225, 1);
    height: 429px;
    box-shadow: 8px 8px 17.5px 0px rgba(126, 116, 81, 0.52);
    min-width: 476px;
    display: flex;
    flex-direction: column;
}
.img_ex{
    width: 100%;
    height: 96%;
    object-fit: cover;
}
.excursion_img{
    min-height: 272px;
}
.text_ex{
    padding-left: 24px;
    padding-bottom: 10px;
}
.excursion_text{
    font-family: "Conthrax";
    font-size: 40px;
    padding-bottom: 10px;
}
.excursiom_text-mini{
    font-family: 'DinproRegular';
    font-size: 16px;
    padding-bottom: 9px;
}
.button_1{
    background-color: rgba(188, 182, 121, 1);
    font-family:'DinproRegular';
    font-size: 28px;
    width: 353px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 621px;
}
.block-image{
    display: grid;
    grid-area: 1/1;

}
.text_block, .text_block-title{
    display: grid;
    grid-area: 1/1;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;  
    align-items: end;
}
.text_block-title{
    align-items: center;
}
.input, .textarea, .button-form{
    font-family: "DinproRegular";
    font-size: 28px;
    color: rgba(28, 27, 23, 0.72);
    border: 2px solid rgba(160, 143, 108, 1);

}
.input, .textarea{
    padding-left: 44px;
}
input{
    height: 84px;
}
.button-form{
    height: 66px;
    width: 370px;
    color: rgba(28, 27, 23, 0.5);
}
.col{
    @apply flex flex-col;
}
.input:hover{
    box-shadow: 8px 8px 22px 0px rgba(126, 116, 81, 0.5);
}
.textarea:hover{
    box-shadow: 8px 8px 22px 0px rgba(126, 116, 81, 0.5);
}







